    div {
      text-align: center;

      h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }

    @media (max-width: 767px) {
      div {
        h1 {
          position: relative;
          font-size: 30px;
          margin: 150px 10px 0 10px;
          top: 0;
          left: 0;
          -ms-transform: none;
          transform: none
        }
      }
    }
